.details {
    margin: 90px auto;

    h2 {
        margin-bottom: 50px;
        font-size: 35px;
        font-weight: lighter;
        color: #222626;
        text-align: center;

        @media(min-width: 768px) {
            text-align: left;
        }
    }

    h4 {
        margin-bottom: 25px;
        font-size: 15px;
        font-weight: bold;
        color: #67676d;
        text-align: center;

        @media(min-width: 768px) {
            text-align: left;
        }
    }

    p {
        font-size: 14px;
        color: #959595;
        line-height: 24px;
        text-align: center;

        @media(min-width: 768px) {
            text-align: left;
        }
    }
}