.plan {
    min-height: 630px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    background-color: #f6f7fa;

    @media(min-width: 768px) {
        padding: 0;
    }

    .card-plan {
        padding: 40px 50px;

        &--white {
            background-color: #ffffff;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 60px;
        }

        &__bagde {
            display: inline-block;
            margin-bottom: 20px;
            padding: 5px 15px;
            border-radius: 5px;
            background-color: #e1e1e1;
            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
            color: #ffffff;

            &--popular {
                background-color: #bd8cbf;
            }
        }

        h4 {
            margin-bottom: 15px;
            font-size: 30px;
            color: #2e3b4e;
        }

        p {
            font-size: 14px;
            line-height: 25px;
            color: #8297a7;
        }

        &__btn {
            padding: 10px 25px;
            margin-bottom: 15px;
            border: none;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: bold;
            letter-spacing: 0.5px;
            color: #ffffff;
            background-color: #82ca9c;
            transition: .3s ease-in-out;

            &:hover {
                box-shadow: inset 0 0 0 2px #82ca9c;
                background-color: transparent;
                color: #82ca9c;
            }
        }

        .operating-system {
            display: flex;
            align-items: center;
            font-size: 25px;
            color: #c5c5c5;

            .apple {
                margin-right: 10px;
            }
        }
    }
}