.more {
    min-height: 875px;
    padding-bottom: 135px;
    display: flex;
    align-items: flex-end;
    color: #ffffff;

    // &__content {
    //     height: 100%;
    // }
    h2 {
        margin-bottom: 35px;
        font-size: 40px;
        letter-spacing: 0.2px;
        text-align: center;

        @media(min-width: 768px) {
            text-align: left;
        }

        @media(min-width: 992px) {
            font-size: 60px;
        }
    }

    p {
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 0.1px;
        text-align: center;

        @media(min-width: 768px) {
            text-align: left;
        }
    }



    .link {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
        transition: color 0.3s ease-in-out;
        text-align: center;

        @media(min-width: 768px) {
            justify-content: flex-start;
        }

        .arrow {
            margin-left: 15px;
            color: #ffffff;
            transition: 0.3s ease-in-out;
            font-size: 20px;
        }

        &:hover {
            text-decoration: none;
            color: red;
        }

        &:hover .arrow {
            transform: translateX(10px);
            color: red;
        }
    }

}