.onboard {
    min-height: 535px;
    padding-top: 120px;
    background-color: #82ca9c;
    color: #ffffff;

    h2 {
        margin-bottom: 50px;
        font-size: 35px;
        font-weight: lighter;
        text-align: center;

        @media(min-width: 768px) {
            text-align: left;
        }
    }

    h4 {
        margin-bottom: 25px;
        font-size: 15px;
        font-weight: bold;
        text-align: center;

        @media(min-width: 768px) {
            text-align: left;
        }
    }

    p {
        font-size: 14px;
        line-height: 24px;
        text-align: center;

        @media(min-width: 768px) {
            text-align: left;
        }
    }
}