.banner {
    min-height: 950px;
    padding-top: 50px;


    &__content {
        height: calc(100vh - 91px);
        display: flex;
        align-items: center;

        @media(min-width: 1140px) {
            height: calc(100% - 91px);

        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__logo {
        display: flex;
        align-items: center;


        img {
            margin-right: 15px;
            margin-bottom: 0;
        }

        span {
            font-size: 21px;
            font-weight: bold;
            font-style: italic;
            color: #ffffff;
        }
    }

    &__info {
        color: #ffffff;

        h1 {
            margin-bottom: 15px;
            font-size: 40px;
            font-weight: lighter;
            letter-spacing: 0.8px;
            text-align: center;

            @media(min-width: 768px) {
                font-size: 60px;
                text-align: left;
            }
        }

        p {
            font-size: 13px;
            letter-spacing: 0.6px;
            line-height: 24px;
            text-align: center;

            @media(min-width: 768px) {
                text-align: left;
            }
        }
    }

    .iphone {
        // position: absolute;
        // right: 0;
        // top: 17%;

        img {
            display: none;

            @media(min-width: 960px) {
                max-height: 740px;
                display: block;
                transform: translate(-40px, 410px);
            }

            @media(min-width: 1140px) {
                max-height: 850px;
                transform: translate(-40px, 245px);
            }

            @media(min-width: 1200px) {
                transform: translate(60px, 245px);
            }
        }
    }
}