.footer {
    min-height: 605px;
    padding: 50px 0;
    display: flex;
    align-items: center;
    background-color: #192431;
    color: #f6f7fa;
    line-height: 24px;
    font-size: 13px;
    text-align: center;

    @media(min-width: 768px) {
        padding: 0;
        text-align: left;
    }

    h5 {
        margin-bottom: 25px;
        font-size: 14px;
    }

    p {
        margin-bottom: 70px;
    }

    ul {
        list-style: none;
    }

    .label {
        margin-bottom: 25px;
        font-size: 14px;
    }

    .form {
        height: 60px;
        margin-bottom: 15px;
    }

    .input-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 60px;
        background-color: #82ca9c;
        color: #ffffff;
        font-size: 20px;
        cursor: pointer;
        transition: filter .3s ease-in-out;

        &:hover {
            filter: brightness(80%);
        }
    }

    .input-info {
        width: 100%;
        display: block;
        color: #57697f;
        font-size: 12px;

        @media(min-width: 992px) {
            width: 300px;
        }
    }
}